# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZnVsbC1tdWxlLTEyLmNsZXJrLmFjY291bnRzLmRldiQ

# Razorpay Integration Key
VITE_RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID_HERE

# Backend Base API URL (e.g. http://localhost:8080 or https://cloudshareapi-6ba6.onrender.com)
VITE_API_BASE_URL=https://cloudshareapi-6ba6.onrender.com
